*{
    font-family: Arial, Helvetica, sans-serif;
    
}


.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: grid;
  gap: 10px;
}




label {
  font-weight: 500;
}



input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.container__technique{
  display: flex;
  flex-direction: column;
  
  
}
.technique{
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
 
  
}



.container__button {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
 gap: 10px;

  
}

.container button{
  border-radius: 4px;
  background-color: #45a049;
  color:white;
  padding: 10px 20px;
  width: 105%;
  border: none;
  cursor: pointer;
  
}

button:hover {
  background-color: #45a049;
  transition: all 0.5s;
}

/* .app-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px; 
    width: 150px;
    height: 150px;
  }
   */

   .logo {
    text-align: center;
    margin-bottom: 10px;
    
  }
  
  .logo img {
    max-width: 180px; /* Ajusta el tamaño del logo según tus necesidades */
  }

/*desde aqui lo nuevo modal*/

  


.rotulos-preview {
  display: flex;
  flex-wrap: wrap;
  
  
  
}

.rotulo-preview {
  width: 120px;
  margin: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color:#45a04931;
  cursor:pointer;
}



.modificar-enlace {
  margin-left: 10px;
  
}

.eliminar-enlace{
  font-size: 12px;
  
  margin-left: 5px;
  font-weight: bold;
  color:red;
}

/*ESTILOS ICONOS*/

.fa-pencil,
.fa-trash-alt{
  font-size: 15px;
}

.fa-trash-alt{
  margin-left: 8px;
}


.copyright-text{
  font-size: 12px;
  text-align: center;
}



